.App {
  text-align: center;
  background-color: #222;
  height: 100%;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

.grid-photo {
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: none;
}

.grid-photo-wrap {
   position: relative;
}

.review-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 35%;
  margin: auto;
}

.review-tile {
  border-radius: 25px;
  background-color: #564e4e;
  margin: auto;
  position: relative;
}

html { 
  background-color: #222;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.singleMovie {
  color: whitesmoke;
  font-family: 'Monoton', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 70px;
}

.singleMovie-image {
  background-position: center 0;
  background-position-x: center;
  background-position-y: 0px;
  background-size: cover;
  width: 100%;
  height: 750px;
  opacity: 1;
}

.movie-body {
  box-sizing: border-box;
  max-width: 50em;
  width: 94%;
  font-size: 1.125em;
  font-family: 'Raleway', sans-serif;
  margin: 30vw auto 2em auto;
  padding: 5%;
  position: relative;
  background-color: #2b2929;
  color: whitesmoke
}

.movie-body-overview {
  margin-top: -10%;
  margin-bottom: 10%; 
  font-size: 1.35em;
}

.navbar {
  background-color: whitesmoke
}


